.inputDiv{
    display: flex;
    justify-content: space-between;
}
.dottedLine{
    border-top: 1px dashed red;
}
.inputField {
    border: none;
    border-bottom: 1px solid black; // adjust color as needed
    outline: none; // remove blue glow on focus
}

.inputField:focus {
    border-bottom: 1px solid black; // keep same on focus
    outline: none;
}